<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <title>Consultar Registros<\title>
<\head>
<body>
  <h2>CONSULTAR REGISTROS<\h2>
   <table border="1"><thead>
      <tr>
           <th>Nome do Cliente<th>
           <th>CPF<\th>
<th>ID<\th>
<th>Ações<\th>
<\tr>
<td>(Aqui entra o nome do primeiro cliente)<\td>
<td>(CPF do cliente)<\td>
<td>(ID do cliente)<\td>
<td>
<button>✏️</button>
<button>🗑️</button>
<button>🖨️</button>
<\td>
<\tr>
<tr>
<td>(Aqui entra o nome do segundo cliente)<\td>
<td>(CPF do cliente)<\td>
<td>(ID do cliente)<\td>
<td>
    <button>✏️</button>
    <button>🗑️</button>
    <button>🖨️</button>
    <\td>
    <\tr>
    <tr>
        <td>(Aqui entra o nome do terceiro cliente)<\td>
        <td>(CPF do cliente)<\td>
            <td>(ID do cliente)<\td>
                <td>
                    <button>✏️</button>
                    <button>🗑️</button>
                    <button>🖨️</button>
                    <\td>
                    <\tr>
                    <\tbody>
                    <\table>
                    <br> <button>SAIR</button>
                    <\body>
                    <\html>



