<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Novo Médico</title>
</head>
<body>
   
  <center>
        <h1>Novo Médico</h1>
    <form>
        <p>Nome completo: <input type="text" style="width:600px;"> </p>
        <p>Especialidade: <input type="text" style="width:600px;"> </p>
        <p>Telefone: <input type="text" style="width:600px;"> </p>
        <p>Celular: <input type="text" style="width:600px;"> </p>
        <br>
        <button>Salvar</button>
    </form>
  </center>
  
</body>
</html>