<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Novo Usuário</title>
</head>
<body>
    <center>

        <form>
           <h1>Novo usuário</h1>
           <p>Nome completo: <input type = "text" style="width: 600px;"></p>
           <p>Endereço: <input type = "text" style="width: 600px;"> </p>
           <p>Bairro: <input type = "text"> Cidade: <input tupe = "text" style="width: 300px;"></p>
           <p>Telefone: <input type = "text"> WhatsApp: <input type = "text" style="width:300px;"></p>
           <p>Cargo: <input type = "text"> Setor: <input type ="text" style="width:300px";> </p>
           <p>Usuário: <input type = "text"> Senha: <input type = "text" style="width:300px;"> </p>
          <a href="/painel.do.usuario.html" style="text-decoration: none;">
        <button type="button">Salvar</button>
        </form>

    </center>
</body>
</html